<footer>
      <p class="footer-name">Until After Prelaunch Site</p>
      <p class="credits">&lt;/ Built by <a href="https://www.linkedin.com/in/zaidiasim">Asim Zaidi</a>&gt;</p>
      <button class="purple-btn">Donate</button>
</footer>