<footer>
    <div class="container-wide">
        <div>
            <div class="col-sm-12 footer-right">
                <div class="socials">
                    <a href="https://soundcloud.com/djiggster"><i class="iconsfa fa fa-soundcloud"></i></a>
                    <a href="https://www.mixcloud.com/djiggymusic/"><i class="iconsfa fa fa-mixcloud"></i></a>
                    <a href="https://twitter.com/djiggy_/" target="_blank"><i class="iconsfa fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/djiggy/" target="_blank"><i class="iconsfa fa fa-instagram"></i></a>
                    <a href="mailto:djiggster@gmail.com?Subject=Hello" target="_blank"><i class="iconsfa far fa fa-envelope"></i></a>
                </div>
            </div>
        <!-- row End -->
        </div>
    <!-- container-wide End -->
    </div>
<!-- footer End -->
</footer>