
<script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
<header>
    <nav>
        <style>
            .donate-input {
                border: 1px solid;
                border-color: #6b3792;
                padding: 1em 2em;
            }
            #stripe-form {
                display: none;
            }

            .modal-content {
                text-align: center;
                margin: 0 auto;
                display: block;
                font-weight: 400;
                max-width: 50%;
                background-color: #6b3792;
                max-width: 50%;
                border-radius: .5em;
                border: none;
                height: 30vh;
            }
            .donate-input {
                margin: 1em 2em;
                font-size: 1em;
            }
        </style>
        <button id="myBtn" class="purple-btn">Donate</button>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form action="/donate" method="post">
                <h4 class="sub-heading">Every donation helps :)</h4 >
                <input
                    id="donationAmount"
                    name="donationAmount"
                    class="donate-input"
                    type="text"
                    placeholder="Enter Donation Amount"
                    onchange="saveValue()">
                    <script
                        id="stripe-form"
                        src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="pk_test_W63C5PiHdw3FSQmvVIrgWo6c"	
                        data-name="Until After"
                        data-description="Until After donation charge"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto"
                        >
                    </script>
                </form>
                <script>
                function saveValue() {
                    $('#stripe-form').attr('data-amount', `${$('#donationAmount').val()}00`);
                    $('#stripe-form').css('display', 'block');
                }
            </script>
                {{!-- <button class="purple-btn"onclick="saveValue()">Save</button> --}}
            </div>
        </div>
    </nav>
</header>