
<script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
<header>
    <nav>
        <button id="myBtn" class="purple-btn">Donate</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <input
                id="donationAmount"
                class="donate-input"
                type="text"
                placeholder="Enter Donation Amount">
                {{!-- <button class="purple-btn"onclick="saveValue()">Save</button> --}}
            <script>
                function saveValue() {
                    var userDonationAmount =  document.getElementById("donationAmount").value;
                }
            </script>
            <script src="https://checkout.stripe.com/checkout.js"></script>
            <form class="stripe-form" action="/donate" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="pk_test_W63C5PiHdw3FSQmvVIrgWo6c"	
                    data-amount = `$userDonationAmount`
                    data-name="Until After"
                    data-description="Until After donation charge"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
                </script>
                <button id="myBtn" onclick="saveValue()" class="purple-btn">Donate</button>
            </form>

            </div>
        </div>
        <style>
            
            .donate-input {
                border: 1px solid;
                border-color: #6b3792;
                padding: 1em 2em;
            }
            .stripe-button-el {
                display: none;
            }
        </style>
    </nav>
</header>