<main>
    <section class="top">
        <div class="centered">
            <h1 class="hero-label">
                Until After
            </h1>
            <p class="bio">
                Until After is a private journal that unlocks when you die.
                We spend the most amount of time in our lives making an online footprint and when we die, it all just dissapears.
                All your amazing ideas and deepest secrets, just gone... Until After keeps track of
                your mood, life defining moments and daily journals so
                that when you die, your life can be remembered for what it truly was. 
                Sign up be to one of our beta users. Donations are also greatly appreciated to help
                us kick start the app, as this will be a free to use product created for the greater good of humanity.
            </p>
            <form class="signup-form" action="/notify" method="post">
            <input class="email-input" name="email" type="email" placeholder="Enter your email*">

                <button type="submit" class="purple-btn notify">
                    Get Notified
                </button>
            </form>

            <p class="schedule">
                Are you someone who journals? We'd love to schedule a meeting with you and ask some questions to help our product! Click the following link to schedule a call!
                <br>
                <a href="https://www.calendly.com/asimzaidi" target="_blank">https://calendly.com/asimzaidi</a>
            </p>
        </div>
    </section>

    <section class="story">
        <div class="horiz-center">
            <h1 class="sub-heading story-text">Our Story</h1>
            <p class="story-text bio">
                Hi, my name is Asim and I'm creating Until After because I'm scared.
                I'm scared I won't live to see tomorrow. The notes app in my phone has been a lifelong clutch of mine.
                When I'm feeling lost, I write in it. When I need to have a talk with someone, I write down
                all my raw thoughts there. When I have a crazy idea, I jot it down there... Unfortunately,
                I never get a chance to go back and view all my notes because scrolling through them one by one
                is tedious. Even more sad, I don't think anyone will ever be able to read through them. Journaling
                has basically saved my life and I hope it can save others. Journaling is such a healthy outlet for me
                knowing my thoughts are kept private. Over time, I've become more diligent about
                journaling my daily experiences and emotions though I've never had an easy way to digest all the unique information
                I've created over months and years. I've had countless life defining moments, but over time they all
                blend in, making it hard for me to reflect on my lifes trajectory. Recently, I thought to myself, "I'd love to make my journal
                public to the world when I die." Well, what better way to leave behind my legacy than to leave behind
                my life's journal. I hope my great great grand children can go through my Until After journal
                someday, and maybe even give it a mention in their own Until After journals. Maybe they'll be reading both mine and my wifes
                journals and comparing how both of us came together in each of our own narrations. Maybe someday, Until After will be something
                beautiful.
            </p>
        </div>
    </section>

    <section class="how-works reg-centered">
        {{!-- <div class="centered"> --}}
        <h1 class="sub-heading reg-centered">How it Works</h1>
        <div class="slideshow-container">
            <div class="mySlides">
                <h2>Private Journal</h2>
                <i class="fas fa-journal-whills how-icons"></i>
                <p class="how-bio reg-centered">You recieve a private journal in which you can take notes in any time. 
                    You can easily upload text, photos, videos and voice recordings on the fly.
                </p>
            </div>
            
            <div class="mySlides fade">
                <h2>Unique Journal View</h2>
                <i class="far fa-dot-circle how-icons"></i>
                <p class="how-bio reg-centered">
                    We used an advance color scheme graph to allow users to holistically digest
                    years and years worth of journals easier than ever.
                </p>
            </div>

            <div class="mySlides fade">
                <h2>Choose Openers</h2>
                <i class="fas fa-user-friends how-icons"></i>
                <p class="how-bio reg-centered">
                    Invite up to 5 friends who can have the ability to request access to your account when you die.
                </p>
            </div>

            <div class="mySlides fade">
                <h2>Verification Process</h2>
                <i class="fas fa-shield-alt how-icons"></i>
                <p class="how-bio reg-centered">
                    To verify your death, someone must send us a screen shot of your obituary or death certificate.
                    We then manually verify the documents. In addition, we text, email, call and message
                    you on social media looking for a response within 30 days. If all checks out, your journal is opened.
                </p>
            </div>
            {{!-- <div class="arrows"> --}}
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            {{!-- </div> --}}

        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
            <span class="dot" onclick="currentSlide(4)"></span> 
        </div>
        {{!-- </div> --}}
    </section>
</main>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
    }
</script>
